<div class="row">
    <div class="col-6 mx-auto">
        <div class="row">
            <div class="col-10">
                <div class="input-group mt-4">
                    <input type="text" placeholder="Search Name" class="form-control" [(ngModel)]="searchName">
                    <div class="input-group-append">
                        <button type="button" mat-button>
                            <mat-icon class="mx-2" (click)="searchDoctor()">search</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-warning mt-4" (click)="searchDoctor()">Search</button>
            </div>

        </div>

        <div class="card mt-3" *ngIf="searchOn">
            <div class="card-header text-center text-uppercase"> {{ searchResult.name }} </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>person</mat-icon>
                                <p matLine>Username</p>
                                <h5 matLine>{{ searchResult.username }}</h5>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    
                    <div class="col-lg-4">
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>email</mat-icon>
                                <p matLine>Email</p>
                                <h5 matLine>{{ searchResult.email }}</h5>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    
                    <div class="col-lg-4">
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>phone</mat-icon>
                                <p matLine>Phone Number</p>
                                <h5 matLine>{{ searchResult.phone }}</h5>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    
                    <div class="col-lg-4">
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>website</mat-icon>
                                <p matLine>Website</p>
                                <h5 matLine>{{ searchResult.website }}</h5>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    
                    <div class="col-lg-4">
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>group</mat-icon>
                                <p matLine>Company</p>
                                <h5 matLine>{{ searchResult.company.name }}</h5>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    
                    <div class="col-lg-4">
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>house</mat-icon>
                                <p matLine>Address</p>
                                <h5 matLine>{{ searchResult.address.city }}</h5>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>